<h1>Logs</h1>

<table>
  <thead>
    <tr>
      <th>IP Address</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.ip_address %></td>
        <td><%= log.created_at %></td>
        <td><%= link_to "View", log_path(log) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
